<!-- Navigation -->
<nav class="pushy pushy-left">
    <div class="pushy-content">
        <ul>
            <!-- Submenu -->
            <li class="pushy-link"><a href="/auto">Home</a></li>
            <li class="pushy-submenu">
                <button>Change Environment</button>
                <ul>
                    <li class="pushy-link"><a class="env">TST</a></li>
                    <li class="pushy-link"><a class="env">OAT</a></li>
                    <li class="pushy-link"><a class="env">SIT2</a></li>
                </ul>
            </li>
            <li class="pushy-link"><a href="/auto/newdata">Add New Enrollment</a></li>
            <li class="pushy-link"><a href="/auto/search">Search</a></li>
            <li class="pushy-link"><a href="/">Manual</a></li>
            <li class="pushy-link"><a href="/auto/console">SQL Console</a></li>
            <li class="pushy-link"><a href="/auto/help">Help</a></li>
        </ul>
    </div>
</nav>

<!-- Site Overlay -->
<div class="site-overlay"></div>
