/**
GLOBAL
**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

#title {
  border-style: none;
  font-size:30px;
  width: 100%;
}

#content {
  position: fixed;
  height: 100%;
  width: 100%;
}
.middle {
  vertical-align: middle;
  display: flex;
  align-items: center;
}

/**
HEADER BAR
**/
.header {
  background-color: black;
  height: 50px;
  width: 100%;
  margin: 0, auto;
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
}

.header .row {
  margin: 0;
}

.header-container, .header-container * {
  height: 100%;
}

.header h3 {
  font-size: 1.2em;
  color: white;
}

.header p {
  color: white;
  font-size: 1.2em;
  justify-content: center;
}

.header .container-fluid {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.header .row {
  width: 100%;
}



.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  padding-top: 12px;
}

.menu-btn {
  width: 100%;
  background-color: #0078d7;
  color: #FFF;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  border: 0px;
}

.menu-btn:hover {
  opacity: 0.6;
}

.menu-btn-wrapper {
  padding: 0;
}

.table-btn {
  width:200px;
  height: 50px;
  background-color: #0078d7;
  color: #FFF;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  border: 0px;
}

.table-btn:hover {
  opacity: 0.6;
}

.jumbotron2 {
  background: black;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
}
/**
Intro Page Text
**/
.main-content {
  /**
  background: linear-gradient(to right, rgb(0, 76, 137), rgb(0, 98, 175), rgb(0, 76, 137));
  **/
  padding: 0 20px;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.main-content .tablebuttonwrap {
  text-align: center;
}

.main-content-container {
  padding: 3vh 10vw;
  width: 100%;
  height: 70%;
}

.main-content-container h3 {
  font-size: 2em;
  font-weight: bold;

}

.main-content-container h4 {
  font-size: 4rem;
  letter-spacing: 7px;
  padding-top: 2.5vh;
  padding-bottom: 3vh;
  font-weight: bolder;
  color: #cc0000;
}
