/**
Dialog
**/

.dialog-content input[type=text] {
  width: 80%;
}

.dialog-btn {
  width:100px;
  height: 30px;
  background-color: #0078d7;
  color: #FFF;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  border: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.dialog-btn:hover {
  opacity: 0.6;
}

.error {
  color: red;
}
