.env {
  align: "center";
  text-align: center;
  width: 95%;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.env:hover {
  background: #3ce9fc;
  background-image: -webkit-linear-gradient(top, #3ce9fc, #3498db);
  background-image: -moz-linear-gradient(top, #3ce9fc, #3498db);
  background-image: -ms-linear-gradient(top, #3ce9fc, #3498db);
  background-image: -o-linear-gradient(top, #3ce9fc, #3498db);
  background-image: linear-gradient(to bottom, #3ce9fc, #3498db);
  text-decoration: none;
}
