<!doctype html>
<html lang="en">
<head>
  <!-- stylesheets -->
  <%- include ../partials/styles %>
  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="css/vendor/terminal/jquery.terminal.min.css" />
  <link rel="stylesheet" href="css/console.css" />


</head>
<body>
  <%- include('../partials/left_nav', {page: page}); %>
  <%- include('../partials/top_nav', {page: page}); %>

  <div id="content">
    <div id="term"></div>
  </div>


  <!-- Vendor Javascript -->
  <%- include ../partials/scripts %>
  <script type="text/javascript" src="/js/vendor/terminal/jquery.terminal.min.js"></script>
  <script type="text/javascript" src="/js/vendor/terminal/jquery.mousewheel-min.js"></script>
  <!-- custom Javascript -->
  <script type="text/javascript" src="/js/console.js"></script>

</body>
</html>
