<!doctype html>
<html lang="en">
<head>
  <title>Input Screen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CDN's -->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- custom stylesheets -->
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/nav.css">

</head>
<body>
<!-- Navigation -->
<nav class="pushy pushy-left">
    <div class="pushy-content">
        <ul>
            <!-- Submenu -->
            <li class="pushy-link"><a href="/">Home</a></li>
            <li class="pushy-submenu">
                <button>Change Environment</button>
                <ul>
                    <li class="pushy-link"><a class="env">TST</a></li>
                    <li class="pushy-link"><a class="env">OAT</a></li>
                    <li class="pushy-link"><a class="env">SIT2</a></li>
                </ul>
            </li>
            <li class="pushy-link"><a href="/">Add New Enrollment</a></li>
            <li class="pushy-link"><a href="/">Search</a></li>
            <li class="pushy-link"><a href="/">Automation</a></li>
            <li class="pushy-link"><a href="/console">Console</a></li>
            <li class="pushy-link"><a href="https://github.com/jsun98/jsGrid_odbc/blob/master/README.md">Help</a></li>
        </ul>
    </div>
</nav>

<!-- Site Overlay -->
<div class="site-overlay"></div>

<!-- Your Content -->
<div id="content">
  <!-- header bar -->
  <section class="header">

    <div class="container-fluid header-container">
      <div class="row">
        <div class="col-xs-4 col-sm-1 menu-btn-wrapper">
          <button class="menu-btn">Menu</button>
        </div>
        <div class="hidden-xs col-sm-4">
          <h3 class="middle">Enrollment Data Creation</h3>
        </div>
        <div class="hidden-xs col-sm-2">
          <img src="img/omers.png">
        </div>
        <div class="col-xs-6 col-sm-5">
          <span class="pull-right">
            <p id="envDisplay" class="middle text-center"></p>
            <input type="hidden" id="envValue" value="TST"></input>
          </span>
        </div>
      </div>
    </div>

  </section>

  <!-- table -->
  <section class="main-content">
    <input type="hidden" id = "msg" value="New Row(s) Successfully Added" readonly> <br>


    <div id="jsGrid"></div>

    <div class="table-buttons-wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12 text-center">
          <input type="button" class="addrow table-btn" id="addrow" value="New Data">
          <input type="hidden" class="save table-btn" id="save" value="Save">
          <input type="hidden" class="home table-btn" id="home" value="Home">
          <input type="button" class="search table-btn" id="search" value="Search">
          <input type="hidden" class="submitStatus table-btn" id="submitStatus" value="Submit New Status">
        </div>
      </div>
    </div>

    <div class="container-fluid main-content-container">
      <div class='row'>
        <div class="col-sm-12 col-md-12 col-xs-12 text-center">
          <h3>Next Scheduled Enrollment Data Update:</h3>
          <h4 class="timer">21:00:00 EST</h4>
        </div>
      </div>
      <div class='row'>
        <div class="col-sm-4 col-md-4 col-xs-4">
          <h3>Help</h3>
          <p>1234567890</p>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-4">
          <h3>Statistics</h3>
          <p>1234567890</p>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-4">
          <h3>Changelog</h3>
          <p>Version: 1.0.0-Beta</p>
          <p>1234567890</p>
        </div>
      </div>
    </div>





  </section>
</div>

<!-- scripts -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<script type="text/javascript" src="/js/nav.js"></script>
<script type="text/javascript" src="/js/indexhelper.js"></script>
<script type="text/javascript" src='/js/grid.js'></script>
</body>
<html>
