<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Landing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- base stylesheets -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/base.css" />

  <!-- module stylesheets -->

  <!-- custom stylesheets -->
  <link rel="stylesheet" href="/css/index.css">

</head>
<body>

  <%- include('../partials/left_nav', {page: page}); %>
  <%- include('../partials/top_nav', {page: page}); %>


  <!-- Your Content -->
  <div id="content">

    <% if (page!=="main") { %>
    <div class="table-buttons-wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-9 col-xs-12 text-center">
          <% if (page==="enrollment") { %>
            <input type="button" class="table-btn" id="newdata" onclick="document.location.href = './newdata';" value="New Enrollment Data">
            <input type="button" class="table-btn" id="search" onclick="document.location.href = './search';" value="Search Enrollment">
          <% } else if (page==="event") { %>
            <input type="button" class="table-btn" id="newdata" onclick="document.location.href = '/validateID';" value="Start Event Creation">
            <input type="button" class="table-btn" onclick="document.location.href = '/sourcedata/search';" value="Search Source Data">
            <input type="button" class="table-btn" onclick="document.location.href = '/reporting/search';" value="Search Reporting Data">
            <input type="button" class="table-btn" onclick="document.location.href = '/election/search';" value="Search Election Data">
          <% } %>
        </div>
        <div class="col-sm-0 col-md-3 col-xs-0 text-center">
        </div>
      </div>
    </div>
    <% } %>
    <!-- info -->
    <section class="main-content">

      <div class="container-fluid main-content-container">
        <div class='row'>
          <% if (page!=="main") { %>
          <div class="col-sm-12 col-md-9 col-xs-12 text-center">
          <% } else { %>
          <div class="col-sm-12 col-md-12 col-xs-12 text-center">
          <% } %>
            <h3>
              Submitted Data Will Be Processed At:
            </h3>
            <h4>05:00:00 AM</h4>
            <h4>12:00:00 PM</h4>
            <h3 id="date" class="paddingdate"></h3>
            <div class="row">
              <div class="col-sm-2 col-md-2 col-xs-2 text-center"></div>
              <div class="col-sm-4 col-md-4 col-xs-4 text-center">
                <p>
                  Website Support:<br>
                  <a href="mailto:QAutomation@Omers.com?Subject=Issue&#58%20Enrollment%20Data%20Web%20App" target="_top">QAutomation@Omers.com</a>
                </p>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-4 text-center">
                <p>Visit Our <a href="./help">Help Page</a><br>
                For a Detailed Documentation
                </p>

              </div>
              <div class="col-sm-2 col-md-2 col-xs-2 text-center"></div>
            </div>
          </div>

          <% if (page!=="main") { %>
          <div class="hidden-sm col-md-3 hidden-xs text-center">


            <h5>Total Enrollments Created: </h5>
            <input type="text" class="borderlessshort" value="TST: 0" id="TSTcount" readonly></input>
            <input type="text" class="borderlessshort" value="OAT: 0" id="OATcount" readonly></input>
            <input type="text" class="borderlessshort" value="SIT2: 0" id="SIT2count" readonly></input>
            <h5>Enrollments Created Today: </h5>
            <input type="text" class="borderlessshort" value="TST: 0" id="TSTcounttoday" readonly></input>
            <input type="text" class="borderlessshort" value="OAT: 0"  id="OATcounttoday" readonly></input>
            <input type="text" class="borderlessshort" value="SIT2: 0"  id="SIT2counttoday" readonly></input>
            <br><br>
            <h5>Data Creation Champions: </h5>
            <textarea class="borderlesslong text-center" id="champ1" value="loading..." readonly></textarea><br>
            <textarea type="textarea" class="borderlesslong text-center" id="champ2" value="loading..." readonly></textarea>
            <textarea type="textarea" class="borderlesslong text-center" id="champ3" value="loading..." readonly></textarea>
            <br><br>

            <span class="ad">
            <h5>LEAP Automation Team</h5>
            <p>
              <div class="row">
                <div class="col-md-6 text-center">
                  Parasar Saha
                </div>
                <div class="col-md-6 text-center">
                  Chirag Kashyap
                </div>
                <div class="col-md-6 text-center">
                  Jannie Zheng
                </div>
                <div class="col-md-6 text-center">
                  Raluca Mihaileanu
                </div>
                <div class="col-md-6 text-center">
                  Josh Sun
                </div>
                <div class="col-md-6 text-center">
                  Boyan Gong
                </div>
              </div>
            </p>
          </div>

          <div class="hidden-sm col-md-2 hidden-xs">

          </div>
          <% } %>
        </div>
      </div>





    </section>

  </div>

  <script>
    var user = <%- JSON.stringify(user) %>;
  </script>

  <!-- base scripts -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>

  <!-- modules scripts -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
  <script type="text/javascript" src="/js/vendor/nav.js"></script>

  <!-- page scripts -->
  <script type="text/javascript" src="/js/index.js"></script>

</body>
<html>
