<!doctype html>
<html lang="en">
<head>
  <title>Enrollment Data Creation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/page_index.css">

</head>
<body>

<%- include partials/nav_auto %>

<!-- Your Content -->
<div id="content">

  <%- include partials/header_auto %>

  <div class="table-buttons-wrapper">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-xs-12 text-center">
        <input type="button" class="table-btn" id="newdata" value="New Data" onclick="window.location.replace('/newdata')">
        <input type="button" class="table-btn" id="search" value="Search" onclick="window.location.replace('/search');">
      </div>
      <div class="col-sm-0 col-md-4 col-xs-0 text-center">
      </div>
    </div>
  </div>

  <!-- info -->
  <section class="main-content">

    <div class="container-fluid main-content-container">
      <div class='row'>
        <div class="col-sm-12 col-md-9 col-xs-12 text-center">
          <h3>Scheduled Enrollment Data Runs:</h3>
          <h4>05:00:00 AM</h4>
          <h4>12:00:00 PM</h4>
          <h3 id="date" class="paddingdate"></h3>
          <div class="row">
            <div class="col-sm-2 col-md-2 col-xs-2 text-center"></div>
            <div class="col-sm-4 col-md-4 col-xs-4 text-center">
              <p>
                Website Support:<br>
                <a href="mailto:QAutomation@Omers.com?Subject=Issue&#58%20Enrollment%20Data%20Web%20App" target="_top">QAutomation@Omers.com</a>
              </p>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-4 text-center">
              <p>For a Detailed Documentation<br>
              Visit Our <a href="/help">Help Page</a>
              </p>

            </div>
            <div class="col-sm-2 col-md-2 col-xs-2 text-center"></div>
          </div>
        </div>

        <div class="col-sm-0 col-md-3 col-xs-0 text-center">


          <h5>Total Enrollments Created: </h5>
          <input type="text" class="borderlessshort" value="TST: 0" id="TSTcount" readonly></input>
          <input type="text" class="borderlessshort" value="OAT: 0" id="OATcount" readonly></input>
          <input type="text" class="borderlessshort" value="SIT2: 0" id="SIT2count" readonly></input>
          <h5>Enrollments Created Today: </h5>
          <input type="text" class="borderlessshort" value="TST: 0" id="TSTcounttoday" readonly></input>
          <input type="text" class="borderlessshort" value="OAT: 0"  id="OATcounttoday" readonly></input>
          <input type="text" class="borderlessshort" value="SIT2: 0"  id="SIT2counttoday" readonly></input>
          <h5>Data Creation Champions: </h5>
          <textarea class="borderlesslong text-center" id="champ1" value="loading..." readonly></textarea><br>
          <textarea type="textarea" class="borderlesslong text-center" id="champ2" value="loading..." readonly></textarea>
          <textarea type="textarea" class="borderlesslong text-center" id="champ3" value="loading..." readonly></textarea>
          <br><br>

          <p>This Website is Hosted By<br>
          <b>LEAP Automation Team</b><br>
          Parasar Saha, Chirag Kashyap, Jannie Zheng, Raluca Mihaileanu, Josh Sun, Boyan Gong</p>


        </div>

        <div class="col-sm-2 col-md-2 col-xs-0">

        </div>

      </div>
    </div>





  </section>
</div>

<!-- vendor scripts -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/vendor/js.cookie.js"></script>

<!-- custom scripts -->
<script type="text/javascript" src="/js/page_index.js"></script>
</body>
<html>
