<!doctype html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/page_index.css">

</head>
<body>

<%- include partials/nav %>
<!-- Your Content -->
<div id="content">

  <%- include partials/header %>

  <div class="table-buttons-wrapper">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12 text-center">
        <input type="button" class="table-btn" id="newdata" value="New Data" onclick="window.location.replace('/newdata')">
        <input type="button" class="table-btn" id="search" value="Search" onclick="window.location.replace('/search');">
      </div>
    </div>
  </div>

  <!-- info -->
  <section class="main-content">

    <div class="container-fluid main-content-container">
      <div class='row'>
        <div class="col-sm-3 col-md-3 col-xs-3">
          <h3><a href="/help">Help</a></h3>
          <p>Current Version: 1.0.0-Beta</p>
          <h5>Cookies: </h5>
          <p>
            <span class="highlight">**This Site Uses Cookies**</span>
          </p>

          <h5>Statuses Explained: </h5>
          <p>'Submitted': Not yet processed<br>
          'New': Available for use<br>
          'Used': Not Available for use<br>
          'Failed': Internal error<br>
          'Terminated': Will be deleted later<br>
          'Data Issue': Incorrect input data<br>
          </p>
          <h5>Bugs and Issues: </h5>
          <p>
            Forward to:<br>
            <a href="mailto:QAutomation@Omers.com?Subject=Issue&#58%20Enrollment%20Data%20Web%20App" target="_top">QAutomation@Omers.com</a>
          </p>
          <br>
          <p>For more in-depth help go to <a href="/help">Help</a></p>
        </div>

        <div class="col-sm-6 col-md-6 col-xs-6 text-center">
          <h3 class="vmiddle">Scheduled Enrollment Data Updates:</h3>
          <h4 style="color: red;">05:00:00</h4>
          <h4 style="color: red;">12:00:00</h4>
          <h3 id="date" class="paddingdate"></h4>
          <h3 class="paddingdate">Eastern Standard Time</h4>
        </div>

        <div class="col-sm-3 col-md-3 col-xs-3">
          <h3 class="">Statistics</h3>
          <h5>Total Enrollments Created: </h5>
          <label>TST:</label><input type="text" class="borderlessshort" id="TSTcount" value="" readonly></input><br>
          <label>OAT:</label><input type="text" class="borderlessshort" id="OATcount" value="" readonly></input><br>
          <label>SIT2:</label><input type="text" class="borderlessshort" id="SIT2count" value="" readonly></input><br>
          <h5>Enrollments Created Today: </h5>
          <label>TST:</label><input type="text" class="borderlessshort" id="TSTcounttoday" value="" readonly></input><br>
          <label>OAT:</label><input type="text" class="borderlessshort" id="OATcounttoday" value="" readonly></input><br>
          <label>SIT2:</label><input type="text" class="borderlessshort" id="SIT2counttoday" value="" readonly></input><br>
          <h5>Data Creation Champions: </h5>
          <textarea class="borderlesslong" id="champ1" value="loading..." readonly></textarea><br>
          <textarea type="textarea" class="borderlesslong" id="champ2" value="loading..." readonly></textarea><br>
          <textarea type="textarea" class="borderlesslong" id="champ3" value="loading..." readonly></textarea><br>
        </div>

      </div>
    </div>





  </section>
</div>

<!-- vendor scripts -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/vendor/js.cookie.js"></script>

<!-- custom scripts -->
<script type="text/javascript" src="/js/page_index.js"></script>
</body>
<html>
