<!doctype html>
<html lang="en">
<head>
  <!-- custom stylesheets -->
  <link type="text/css" rel="stylesheet" href="css/base.css" />

</head>
<body>


  <%- include ../partials/nav %>

  <div id="content">
    <input type="hidden" id="reqTypeValue" value="R"></input>

    <%- include ../partials/headerbar %>

    <section class="main-content">
      <div id="jsGrid"></div>

      <div class="table-buttons-wrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xs-12 text-center">
            <input type="button" class="home table-btn" id="home" value="Home">
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Vendor Javascript -->
  <%- include ../partials/scripts %>
  <!-- custom Javascript -->
<script type="text/javascript" src="/js/page_result.js"></script>
</body>
</html>
