<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
  <title>Input Screen</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
  <link rel="stylesheet" href="/css/tablestyle.css">
  <script type="text/javascript" src='/js/grid.js'></script>
</head>
<body>

<input type="text" id = "currEnv" readonly>
<input type="hidden" id = "msg" value="New Row(s) Successfully Added" readonly> <br>
<div id="jsGrid"></div>


<input type="button" class="addrow" id="addrow" value="Click to Add Row">
<input type="hidden" class="save" id="save" value="Save">
<input type="hidden" class="home" id="home" value="Home">
<input type="button" class="search" id="search" value="Search">
<input type="hidden" class="submitStatus" id="submitStatus" value="Submit New Status">



</body>
<html>
